openapi: "3.0.0"
info:
  description: "storage open api"
  version: 1.0.0
  title: storage open api
  license:
    name: Apache-2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://api.lucfish.com/storage/v1"
tags:
  - name: credentials
    description: credentials
paths:
  /credentials:
    post:
      tags:
        - credentials
      summary: 获取上传凭证
      description: 获取上传凭证
      operationId: credentials
      parameters:
        - $ref: '#/components/parameters/AuthTimestamp'
        - $ref: '#/components/parameters/AuthNoncestr'
        - $ref: '#/components/parameters/AuthSignature'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CredentialsReq"
      responses:
        "200":
          description: 成功获取上传凭证
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialsRsp"
security:
  - ApiKey: []

components:
  parameters:
    AuthTimestamp:
      name: Timestamp
      in: header
      schema:
        type: string

    AuthNoncestr:
      name: Noncestr
      in: header
      schema:
        type: string

    AuthSignature:
      name: Signature
      in: header
      schema:
        type: string

  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer

  schemas:
    CredentialsReq:
      type: object
      description: 获取上传凭证
      properties:
        channel:
          type: string
          description: 上传渠道，腾讯云：qcloud、阿里云：aliyun、七牛：qiniu
        params:
          type: object
          description: 计算凭证参数，具体数据结构与上传渠道对应
      required:
        - channel
        - params

    CredentialsRsp:
      type: object
      description: 获取上传凭证结果
      properties:
        code:
          type: integer
          format: int32
          description: 错误码
        msg:
          type: string
          description: 错误消息
        data:
          type: object
          description: 上传凭证数据
      required:
        - code

    QCloudCredentialsParams:
      type: object
      description: 腾讯云计算上传凭证参数
      properties:
        region:
          type: string
          description: 存储桶所在区域，如：ap-guangzhou
        bucket:
          type: string
          description: 存储桶名称
      required:
        - region
        - bucket

    QCloudCredentialsData:
      type: object
      description: 腾讯云上传凭证数据
      properties:
        sessionToken:
          type: string
          description: 请求时需要用的 token 字符串，最终请求 COS API 时，需要放在 Header 的 x-cos-security-token 字段
        tmpSecretId:
          type: string
          description: 临时密钥 Id，可用于计算签名
        tmpSecretKey:
          type: string
          description: 临时密钥 Key，可用于计算签名
        startTime:
          type: integer
          format: int64
          description: 密钥的起始时间戳（毫秒）
        expiredTime:
          type: integer
          format: int64
          description: 密钥的失效时间戳（毫秒）
        requestId:
          type: string
          description: 请求ID
      required:
        - sessionToken
        - tmpSecretId
        - tmpSecretKey
        - startTime
        - expiredTime
        - requestId
