openapi: "3.0.0"
info:
  description: "storage open api"
  version: 1.0.0
  title: Storage open api
  license:
    name: Apache-2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: 'https://api.xres.lucfish.com/'
tags:
  - name: credentials
    description: credentials
paths:
  /oss/credentials:
    post:
      tags:
        - credentials
      summary: 获取上传凭证 credentials
      description: 获取上传凭证 credentials
      operationId: create
      requestBody:
        $ref: "#/components/requestBodies/CreateUploadCredentialsReq"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUploadCredentialsRsp"
      security:
        - Signature:
            - 'write:credentials'
            - 'write:credentials'

components:
  securitySchemes:
    Signature:
      type: http
      scheme: signature
  requestBodies:
    CreateUploadCredentialsReq:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateUploadCredentialsReq'
  schemas:
    CreateUploadCredentialsReq:
      type: object
      properties:
        channel:
          type: string
        extra:
          type: object
    CreateUploadCredentialsRsp:
      type: object
      properties:
        code:
          type: integer
          format: int32
        msg:
          type: string
        data:
          type: object
